.chat_container {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 80px;
  box-shadow: 4px 7px 11px 5px #0000000d;
  background-color: white;
  border-radius: 8px;
  padding: 16px;
  height: 500px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
}

.chat_footer {
  padding: 16px;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: white;
}

.chat_body {
  flex: 1;
  margin-bottom: 60px;
  background-image: url("/image/taieri.png");
  background-size: 150px;
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: #f3f3f3;
  overflow: auto;
}

.inputContainer {
  display: flex;
  width: 100%;
  border: 1px solid #428adf;
  border-radius: 4px;
  overflow: hidden;
}

.messageInput {
  border: none;
  width: 100%;
  text-indent: 4px;
}

.messageInput:focus-visible {
  outline: none;
}

.sendButton {
  all: unset;
  box-sizing: border-box;
  background-color: #428adf;
  padding: 4px;
}

.speechBubble {
  width: fit-content;
  padding: 8px;
  margin: 8px;
}

.speechBubbleMe {
  background-color: #8eb9ec;
  border-radius: 8px 8px 8px 0px;
}

.speechBubbleOther {
  background-color: #5596e2;
  border-radius: 8px 8px 0px 8px;
}

.speechContainerMe {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.speechContainerOther {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
